In [9]:
import pandas as pd

# Membaca data dari clipboard
data_tarum1 = pd.read_clipboard()

# Menampilkan data
print(data_tarum1)

      Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0    Risma      W      2022           157               120          Bekasi
1    Putri      W      2022           155                55         Jakarta
2   Aisyah      W      2022           155                60       Tangerang
3    Rhena      W      2022           155                70       Tangerang
4   Chaesa      W      2022           160                60           Depok
5    Sonya      W      2022           160               140         Jakarta
6    Vania      W      2022           163                40         Jakarta
7    Aulia      W      2022           160                30          Bekasi
8    Andri      P      2022           161               120          Bekasi
9    Rabih      P      2022           175               120         Jakarta
10    Isky      P      2022           171                30         Jakarta
11   Candy      P      2022           170                15          Bekasi
12  Ziddan      P      2022           169               120         Jakarta
13   Wayan      P      2022           172                15         Jakarta
14    Evan      P      2022           165                20         Jakarta
15   Rakha      P      2022           176                30           Bogor
16   Fahmi      P      2022           177               150         Jakarta
17     Ery      P      2022           167                20       Tangerang
18   Tarum      W      2022           159                60         Jakarta
19   Fajri      P      2022           170                20         Jakarta

In [10]:
tarum1 = data_tarum1[data_tarum1['Tinggi Badan'] == 160]
print(tarum1)

     Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
4  Chaesa      W      2022           160                60           Depok
5   Sonya      W      2022           160               140         Jakarta
7   Aulia      W      2022           160                30          Bekasi

In [11]:
tarum1['Tinggi Badan'] = pd.to_numeric(tarum1['Tinggi Badan'])

import numpy as np

tarum1['Tinggi Badan'] = tarum1['Tinggi Badan'].apply(lambda x: 'Tinggi Badan' if x > 160 else 'Pendek')

print(tarum1)

     Nama Gender  Angkatan Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
4  Chaesa      W      2022       Pendek                60           Depok
5   Sonya      W      2022       Pendek               140         Jakarta
7   Aulia      W      2022       Pendek                30          Bekasi

C:\Users\ASUS\AppData\Local\Temp\ipykernel_20168\3359261167.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tarum1['Tinggi Badan'] = pd.to_numeric(tarum1['Tinggi Badan'])
C:\Users\ASUS\AppData\Local\Temp\ipykernel_20168\3359261167.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tarum1['Tinggi Badan'] = tarum1['Tinggi Badan'].apply(lambda x: 'Tinggi Badan' if x > 160 else 'Pendek')

In [15]:
# Menambah kolom "Jurusan" dengan isi baris datanya adalah "Infor20"
tarum1['Jurusan'] = 'Infor20'

# Menambah kolom "Fakultas" dengan isi baris datanya adalah "FTI"
tarum1['Fakultas'] = 'FTI'

# Menampilkan DataFrame setelah penambahan kolom baru
print(tarum1)

     Nama Gender  Angkatan Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
4  Chaesa      W      2022       Pendek                60           Depok
5   Sonya      W      2022       Pendek               140         Jakarta
7   Aulia      W      2022       Pendek                30          Bekasi

   Jurusan Fakultas
4  Infor20      FTI
5  Infor20      FTI
7  Infor20      FTI

C:\Users\ASUS\AppData\Local\Temp\ipykernel_20168\3603751629.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tarum1['Jurusan'] = 'Infor20'
C:\Users\ASUS\AppData\Local\Temp\ipykernel_20168\3603751629.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tarum1['Fakultas'] = 'FTI'

In [17]:
# Menghapus kolom baru 'newvariable' dari DataFrame
tarum1 = tarum1.drop(columns=['Jurusan', 'Fakultas'])

# Menampilkan DataFrame 'nama' setelah menghapus kolom baru
print(tarum1)

     Nama Gender  Angkatan Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
4  Chaesa      W      2022       Pendek                60           Depok
5   Sonya      W      2022       Pendek               140         Jakarta
7   Aulia      W      2022       Pendek                30          Bekasi

In [18]:
# Memilih kolom 1 dan 2 dari DataFrame data_nama
kolom1dan2 = data_tarum1.iloc[:, 0:2]

# Menampilkan DataFrame kolom1dan2
print(kolom1dan2)

      Nama Gender
0    Risma      W
1    Putri      W
2   Aisyah      W
3    Rhena      W
4   Chaesa      W
5    Sonya      W
6    Vania      W
7    Aulia      W
8    Andri      P
9    Rabih      P
10    Isky      P
11   Candy      P
12  Ziddan      P
13   Wayan      P
14    Evan      P
15   Rakha      P
16   Fahmi      P
17     Ery      P
18   Tarum      W
19   Fajri      P

In [19]:
# Menggabungkan baris dari dua DataFrame
baris1sd5 = data_tarum1.iloc[0:5, :]
baris25sd30 = data_tarum1.iloc[24:30, :]
barisgabungan = baris1sd5.append(baris25sd30)

# Menampilkan DataFrame
print(barisgabungan)

     Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
0   Risma      W      2022           157               120          Bekasi
1   Putri      W      2022           155                55         Jakarta
2  Aisyah      W      2022           155                60       Tangerang
3   Rhena      W      2022           155                70       Tangerang
4  Chaesa      W      2022           160                60           Depok

   Jurusan Fakultas
0  Infor20      FTI
1  Infor20      FTI
2  Infor20      FTI
3  Infor20      FTI
4  Infor20      FTI

C:\Users\ASUS\AppData\Local\Temp\ipykernel_20168\558607893.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  barisgabungan = baris1sd5.append(baris25sd30)

In [22]:
# Mengurutkan DataFrame 
data_tarum1_sort = data_tarum1.sort_values(by='Waktu Perjalanan')

# Menampilkan DataFrame yang sudah diurutkan
print(data_tarum1_sort)

      Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal  \
11   Candy      P      2022           170                15          Bekasi
13   Wayan      P      2022           172                15         Jakarta
19   Fajri      P      2022           170                20         Jakarta
17     Ery      P      2022           167                20       Tangerang
14    Evan      P      2022           165                20         Jakarta
7    Aulia      W      2022           160                30          Bekasi
15   Rakha      P      2022           176                30           Bogor
10    Isky      P      2022           171                30         Jakarta
6    Vania      W      2022           163                40         Jakarta
1    Putri      W      2022           155                55         Jakarta
2   Aisyah      W      2022           155                60       Tangerang
4   Chaesa      W      2022           160                60           Depok
18   Tarum      W      2022           159                60         Jakarta
3    Rhena      W      2022           155                70       Tangerang
0    Risma      W      2022           157               120          Bekasi
8    Andri      P      2022           161               120          Bekasi
12  Ziddan      P      2022           169               120         Jakarta
9    Rabih      P      2022           175               120         Jakarta
5    Sonya      W      2022           160               140         Jakarta
16   Fahmi      P      2022           177               150         Jakarta

    Jurusan Fakultas
11  Infor20      FTI
13  Infor20      FTI
19  Infor20      FTI
17  Infor20      FTI
14  Infor20      FTI
7   Infor20      FTI
15  Infor20      FTI
10  Infor20      FTI
6   Infor20      FTI
1   Infor20      FTI
2   Infor20      FTI
4   Infor20      FTI
18  Infor20      FTI
3   Infor20      FTI
0   Infor20      FTI
8   Infor20      FTI
12  Infor20      FTI
9   Infor20      FTI
5   Infor20      FTI
16  Infor20      FTI